.hero {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .hero {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.install {
  display: inline-block;
  margin: 1.5rem auto 0;
  text-align: left;
}

.features {
  padding: 3rem 0;
}

.feature {
  padding: 1rem 0;
}
